body {
  background-color: rgb(46, 43, 43);
  color: white;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  padding: 20px;
}

.nav {
  margin-top: 0px;
  text-align: right;
  margin-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}
.nav-item:hover {
  background-color: antiquewhite;
}

.nav-item {
  display: inline;
  margin-left: 20px;
}

.nav-item.active a {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
li {
  color: white;
}

img {
  max-width: 50%;
  height: auto;
  margin: 20px;
  border: 10px solid black;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  margin: 0 auto;
}

label {
  text-align: right;
  margin-top: 10px;
}

input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
}

button {
  background-color: black;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
foot {
  text-align: center;
  font-weight: bold;
}
